---
title: 8000038 GDPR onderliggende accountverificatie
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 993797d951dddea20d7df24ad40b5834a537852a
ms.sourcegitcommit: dd43cc0a9470f98b8ef2a3787c823801d674c666
ms.translationtype: MT
ms.contentlocale: nl-NL
ms.lasthandoff: 02/12/2019
ms.locfileid: "29919939"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Geboortedatum weergegeven in uw Microsoft-account is onjuist

Microsoft hecht veel waarde aan accountbeveiliging. U hebt onlangs is gevraagd om ouderlijke toestemming voor het Microsoft-account van een kind. Als u hulp bieden ouderlijke toestemming of het bijwerken van de geboortedatum van een Microsoft-account nodig, Zie [leeftijd verificatie voor ouderlijke toestemming](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Meer informatie over [ouderlijke toestemming en onderliggende accounts van Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

