---
title: EDU-verificatie
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 24a9cd94272f4103fe404bf86e519582138e6b37734e11715b72ebcd2de9d5cb
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: HT
ms.contentlocale: nl-NL
ms.lasthandoff: 08/05/2021
ms.locfileid: "53946696"
---
# <a name="edu-verification"></a>EDU-verificatie

In de meeste gevallen worden academische toelatingsverzoeken binnen 24-48 uur verwerkt. Voor sommige aanvragen is uitgebreidere controle nodig en kan het verwerken tot tien werkdagen duren. Zodra dit is voltooid, sturen we een e-mailbericht met de geschiktheidsstatus van uw school.

**Belangrijk** Als u de verificatiewizard hebt afgesloten voordat u een domein hebt ingevoerd, kunt u [de wizard academische verificatie](https://go.microsoft.com/fwlink/p/?linkid=2135255) op elk moment tijdens uw gratis proefabonnement hervatten.

Als u de status van uw domein wilt controleren, gaat u naar het [Microsoft 365-beheercentrum](https://go.microsoft.com/fwlink/p/?linkid=2024339). Scrol op de startpagina naar beneden en zoek de **Factuurkaart**. De **Factuurkaart** geeft de status van het verificatieproces aan (goedgekeurd, in behandeling, geweigerd of uw domein toevoegen).

Als uw aanvraag is geweigerd, gaat u [Mijn school komt niet in aanmerking. Wat moet ik nu doen?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)