---
title: 8000038 VERIFICATIE van kinderaccount AVG
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: nl-NL
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764975"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="3549a-102">Geboortedatum weergegeven in uw Microsoft-account is onjuist</span><span class="sxs-lookup"><span data-stu-id="3549a-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="3549a-103">Microsoft neemt accountbeveiliging zeer serieus.</span><span class="sxs-lookup"><span data-stu-id="3549a-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="3549a-104">Mogelijk is u onlangs gevraagd toestemming van het kind te geven voor het Microsoft-account van een kind.</span><span class="sxs-lookup"><span data-stu-id="3549a-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="3549a-105">Zie [Leeftijdsverificatie voor ouderlijke toestemming](https://go.microsoft.com/fwlink/p/?linkid=874364)als u hulp nodig hebt bij het verstrekken van ouderlijke toestemming of het bijwerken van de geboortedatum van een Microsoft-account.</span><span class="sxs-lookup"><span data-stu-id="3549a-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="3549a-106">Meer informatie over [ouderlijke toestemming en Microsoft-kinderaccounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="3549a-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  