---
title: 8000038 VERIFICATIE van kinderaccount AVG
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: nl-NL
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764975"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Geboortedatum weergegeven in uw Microsoft-account is onjuist

Microsoft neemt accountbeveiliging zeer serieus. Mogelijk is u onlangs gevraagd toestemming van het kind te geven voor het Microsoft-account van een kind. Zie [Leeftijdsverificatie voor ouderlijke toestemming](https://go.microsoft.com/fwlink/p/?linkid=874364)als u hulp nodig hebt bij het verstrekken van ouderlijke toestemming of het bijwerken van de geboortedatum van een Microsoft-account.
  
Meer informatie over [ouderlijke toestemming en Microsoft-kinderaccounts](https://go.microsoft.com/fwlink/p/?linkid=874365).
  