---
title: 8000038 GDPR onderliggende accountverificatie
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 13e69ac917a08a338759269df5724c0528dd2eb0
ms.sourcegitcommit: 1d98db8acb9959aba3b5e308a567ade6b62da56c
ms.translationtype: MT
ms.contentlocale: nl-NL
ms.lasthandoff: 08/22/2019
ms.locfileid: "36524406"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Geboortedatum weergegeven in uw Microsoft-account is onjuist

Microsoft hecht veel waarde aan accountbeveiliging. U hebt onlangs is gevraagd om ouderlijke toestemming voor het Microsoft-account van een kind. Als u hulp bieden ouderlijke toestemming of het bijwerken van de geboortedatum van een Microsoft-account nodig, Zie [leeftijd verificatie voor ouderlijke toestemming](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Meer informatie over [ouderlijke toestemming en onderliggende accounts van Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  