---
title: 8000038 GDPR onderliggende accountverificatie
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 035004602a439335380ec72ea65fd1bd70ebbf0d
ms.sourcegitcommit: 5fb7a4b28859690020efdea630d03e70cc0e6334
ms.translationtype: MT
ms.contentlocale: nl-NL
ms.lasthandoff: 06/28/2019
ms.locfileid: "35387052"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Geboortedatum weergegeven in uw Microsoft-account is onjuist

Microsoft hecht veel waarde aan accountbeveiliging. U hebt onlangs is gevraagd om ouderlijke toestemming voor het Microsoft-account van een kind. Als u hulp bieden ouderlijke toestemming of het bijwerken van de geboortedatum van een Microsoft-account nodig, Zie [leeftijd verificatie voor ouderlijke toestemming](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Meer informatie over [ouderlijke toestemming en onderliggende accounts van Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  