---
title: Problemen met uitgever verificatie oplossen
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: nl-NL
ms.lasthandoff: 01/15/2021
ms.locfileid: "49884905"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="904e0-102">Problemen met betrekking tot Uitgever verificatie voor ontwikkelaars</span><span class="sxs-lookup"><span data-stu-id="904e0-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="904e0-103">**Aanbevolen stappen**</span><span class="sxs-lookup"><span data-stu-id="904e0-103">**Recommended steps**</span></span> 

<span data-ttu-id="904e0-104">Voer de onderstaande stappen uit om problemen met de verificatie van Publisher op te lossen:</span><span class="sxs-lookup"><span data-stu-id="904e0-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="904e0-105">Controleer de vereisten en andere voorwaarden om te controleren of deze allemaal voldoen.</span><span class="sxs-lookup"><span data-stu-id="904e0-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="904e0-106">Lees de instructies voor het [markeren van een app als uitgever is geverifieerd](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) en zorg ervoor dat alle stappen zijn uitgevoerd.</span><span class="sxs-lookup"><span data-stu-id="904e0-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="904e0-107">Bekijk de lijst met [veelvoorkomende problemen](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) en volg de aanbevolen stappen als u een probleem hebt met een dergelijke lijst.</span><span class="sxs-lookup"><span data-stu-id="904e0-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="904e0-108">Reproduceer de aanvraag in de [grafiek Verkenner](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) om aanvullende informatie en regel problemen te verzamelen in de gebruikersinterface.</span><span class="sxs-lookup"><span data-stu-id="904e0-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="904e0-109">**Aanbevolen documenten**</span><span class="sxs-lookup"><span data-stu-id="904e0-109">**Recommended documents**</span></span>

- [<span data-ttu-id="904e0-110">Uitgever verificatie-overzicht</span><span class="sxs-lookup"><span data-stu-id="904e0-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="904e0-111">De app markeren als geverifieerd door Publisher</span><span class="sxs-lookup"><span data-stu-id="904e0-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="904e0-112">Problemen met uitgever verificatie oplossen</span><span class="sxs-lookup"><span data-stu-id="904e0-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

