---
title: Problemen met uitgever verificatie oplossen
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: nl-NL
ms.lasthandoff: 01/15/2021
ms.locfileid: "49884905"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>Problemen met betrekking tot Uitgever verificatie voor ontwikkelaars

**Aanbevolen stappen** 

Voer de onderstaande stappen uit om problemen met de verificatie van Publisher op te lossen:

1. Controleer de vereisten en andere voorwaarden om te controleren of deze allemaal voldoen.
2. Lees de instructies voor het [markeren van een app als uitgever is geverifieerd](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) en zorg ervoor dat alle stappen zijn uitgevoerd.
3. Bekijk de lijst met [veelvoorkomende problemen](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) en volg de aanbevolen stappen als u een probleem hebt met een dergelijke lijst.
4. Reproduceer de aanvraag in de [grafiek Verkenner](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) om aanvullende informatie en regel problemen te verzamelen in de gebruikersinterface.

**Aanbevolen documenten**

- [Uitgever verificatie-overzicht](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [De app markeren als geverifieerd door Publisher](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [Problemen met uitgever verificatie oplossen](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

